body{
	background-color: #F2F2F2;
	font-size: 100%;
}

.title{
	color:#4682B4;
	text-align: center;
	font-size: 2rem;
	/*#ff8103*/	
}
.main_container{
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
	/*border: 1px solid white;*/
	padding: 5px;
}
.button{
	background-color:  #ff8103;
	border: hidden;
	height: 30px;
	width: 60px;
	color: white;
	border-radius: 5px;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
}
/********************NAVEGADOR***********************************/
.navegador{
	margin-top: -8px;
	margin-right: -10px;
	margin-left: -10px;
	padding-bottom: 5px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 20px;
	width: 100%;
	height: 100px;
	background-color:  #ff8103;
	font-size: 1.5rem;
	color: white;
}

.navegador a:hover{
	color: #6E6E6E;
}

.user{
	/*border: 2px solid black;*/
	height: 100%;
	width: 250%;	
	/*clear: both;*/
}
#user_name{
	width: 100%;
}
#user_name>p{
	height: 20px;
	width: 70%;
	font-size:1em;
	padding-right: 0px;
	margin-right: 0px;	
	margin-top: 0px;
	margin-bottom: 0px;
	margin: 0px;
	/*border: 2px solid black;*/

}

/*****************************************************************/
/***********************LOGIN************************/
div #centerLogin {
	height: 100%;
	width: 30%;
	margin: auto;
	border: 2px solid #ff8103;	
	border-radius: 20px;
	background-color: #F5D0A9;
	padding-bottom: 15px;

}

#centerLogin > div > p{
	padding-top: 10px;
	background-color: #ff8103;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top: 0px;
		height: 40px;
	color: white;
	font-size: 2em;
}
 /*SING IN BUTTON*/

/*********************************************************************/
/*********************DASHBOARD***************************************/
 #images{
	/*border: 2px solid black;*/
	text-align: center;
	margin: auto;
	width: 50%;
	height: 30%;
}
#images > a:nth-child(2) > img{
	margin-right: 20px;
	margin-left:20px;
}
/******************************************************************/
/************************clients************************/
.container_title{
	width: 100%;
	/*border: 2px solid black;*/
	clear: both;

}
.container_title #logo{
	/*border: 2px solid black;*/
	width: 20%;
	height: auto;
	float: left;
	padding-bottom: 5%;
}
#logo > p{
	/*border: 2px solid black;*/
	float: right;
	margin-top: 20%;
	margin-left: 0px;
}

.container_title > a > input{
	border-radius: 10px;
	width: 10%;
	height: 30px;
	float: right;
	margin: 3%;
	text-align: center;
}

.table{
	clear: both;
	text-align: center;
	font-size: 1rem;
}

.table > table{
	margin: auto;
	width: 100%;
	/*border: 1px solid black;*/
}

#tituloTablaCliente{
	background-color: #4682B4;
	color: white;
	/*#04B45F*/
}
.formClient{
	clear: both;
	width: 100%;
	/*border: 1px solid black;*/
}

.formClient> form{
	width: 25%;
	margin: auto;
	font-size: 1rem;
}
.formClient> form > a{
	color: red
}
.formClient> form > input[type="Text"]{
	width: 100%;
	font-size: 1rem;
}
.formClient .button{
	background-color: #4682B4;
	float: right;
}
.message_delete{
	clear: both;
}
.message_delete > div{
	margin: auto;
	width: 25%;
	/*border: 1px solid black;*/
}
.message_delete > div > p{
	font-size: 1.5rem;
	text-align: center;
}

.message_delete > div input{
	text-align: center;
}
.message_delete > div > a:nth-child(2) > input{
	background-color: red;
}

.message_delete > div > a:nth-child(3) > input{
	background-color: green;
	float: right;
}

/***********************************************************************/
.close{
	/*border: 1px solid black;*/
	margin-left: 98%;
	color: #3e0b0a;
}
.container_modal{
	width: 100%;
	height: 100%;	
	position: absolute;
	position: fixed;
  	top: 0;
  	left: 0;
  	padding-top: 10%;
  	background: rgba(70,130,180,0.7);
  	/*z-index: 10;*/
  	z-index: 9;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.container_modal:target {
	opacity:1;
	pointer-events: auto;
}
.formClient{
	text-align: justify;
	padding: 2%;
	margin: auto;
	width: 45%;
	height: auto;
	background-color: rgba(251,238,206, 0.8);
	/*border: 1px solid black;*/
}

.image{
	width: 100px;
	height: 100px;
}